.heading {
    color: white;
    text-align: center;
    margin: 0 auto;
}

.button-group {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.display-4 {
    font-size: 2.5rem;
}

#main {
    width: 100%;
    max-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8% 0 9% 0;
}

.jumbotron {
    width: 100%;
    height: auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 12px rgba(0,0,0,0.75);
}

.btn-heading {
    color: white;
    margin-top: 20px;
}

.card {
    margin-top: 20px;
}

#get {
    margin-top: 20px;
}

#author {
    text-align: right;
    font-size: large;
}

.social-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.btn-fb , .twitter-share-button {
    display: inline-block;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 504px) {
    .social-container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        /* font-size: x-small; */
    }
    /* .twitter-share-button {
        margin-top: 20px;
    } */
}

@media only screen and (max-width: 350px) {
    .social-container {
        font-size: small;
    }
    .button-group {
        text-align: center;
    }
    h1 {
        font-size: 2rem;
    }
}